.container-login {
    max-width: 100%;
}

.container-video {
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.container-content {
    display: flex;
    align-items: center;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    height: 500px;
    z-index: 100;
}

.container-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(130, 36, 227, 0.8);
    height: 100%;

}

.container-info ul li {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.container-info ul li p {
    margin-top: 0.4rem;

}
.container-info > p {
    margin-left: 0.6rem;
}
.container-bgoverlap {
    background-color: #000000;
    opacity: 0.4;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.container-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}




.icon-wrapper {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    margin-right: 1rem;
}

.input-container {
    position: relative;
    margin-bottom: 12px;
}
  
.input-container > span {
    position: absolute;
    left: 2px;
    background: #fff;
    height: calc(2.5rem - 2px);
    width: calc(2.5rem - 2px);
    line-height: calc(2.5rem - 2px);
    border-radius: 50%;
    text-align: center;
    /* left: 2px; */
    z-index: 1;
    color: #000;
}
  
div.input-container > input {
    font-size: 16px;
    border-radius: 50px;
    padding-top: calc(1rem + 2px);
    padding-bottom: calc(1rem + 2px);
    padding-left: calc(calc(2.5rem - 2px) + 10px);
    border: 1px solid transparent;
    background-color: #f7f7f7;
    color: #626c72;
    padding-right: 30px;
    outline: none;
    height: 20px;
}

.input-container >input:focus {
    border: 1px solid #8224e3;
}


.container-form > p {
    margin-bottom: 20px;
}


.form-btn {
    background-color: #8224e3;
    background-image: linear-gradient(90deg, #8224e3 0, #a968ec 50%, #8224e3 100%);
    box-shadow: 0 1px 2px 0 rgba(130, 36, 227, 0.5);
    color: #fff;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    padding: 12px 102px;
    outline: none;
    font-size: 16px;    
    background-size: 200%;
}

h3,p, ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul {
    padding-inline-start: 0px;
}

.container-form > a {
    margin-bottom: 12px;
    font-size: 14px;
    align-self: flex-end;
    padding-right: 68px;
    text-decoration: none;
    color: black;
}

.form-signup {
    margin-top: 12px;
    color: black;
}

.form-signup > a {
    text-decoration: none; 
}
