.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 70px;
    background-color: #3e4257;
    margin-bottom: 30px;
    
}

.nav-logo {
    font-weight: 700;
    text-decoration: none;
    margin-left: 150px;
    font-size: 24px;
    color: white;
}

.nav-item {
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 60px;
}

.nav-item li {
    font-size: 18px;
    list-style: none;
    margin-right: 40px;
    height: 100%;
    font-weight: 600;
}

.nav-item li a {
    text-decoration: none;
    color: black;
}

li.nav-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
}

.nav-dropdown_content {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    top:30px;
    left: -180px;
    min-width: 230px;
    border-radius: 5px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

li.nav-dropdown:hover .nav-dropdown_content {
    display: block;
}

.nav-dropdown_content > a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 16px;
    border-top: 1px solid #cfd0d2;
    cursor: pointer;
    text-align: left;
}

.nav-dropdown_content > a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

a.nav-author {
    display: flex;
    align-items: center;
    border-top: none;

}

.nav-author > img {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.nav-author_info > div {
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.nav-author_info > span {
    line-height: 1.3333;
    color: #4A4A4A;
    font-size: .8875rem;

}

.nav-dropdown_content >a > svg {
    margin-right: 12px;
}

.nav-dropdown_content ::before {
    position: absolute;
    display: inline-block;
    content: '';
    top: -6px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
    right: 25px;
}
